<div class=" grid grid-cols-2">
    <div class="upper-card flex justify-center items-center ">
     <div>
        <span class="text-[#b433ff] text-2xl">Welcome to</span><br>
        <h1 class="text-7xl text-balance pb-3 pt-0 pl-0  ">Navalogy Club</h1> 
        <span class="text-[#b433ff] text-2xl">
            Empowering tomorrow, Innovating today
        </span>
    

      <div class="lower-desc mt-6">
        <p>
            Unleashing Innovation in Iot,SDN,Web and Mobile <br>
            Apps,Fog-Edge Computing, Machine Learning, <br>
            and Blockchain for a connected world.
        </p>
      </div>

     <div class="home-btn">
        <button class="bg-[#b433ff] mt-5 rounded-md p-2 text-white">Drive Deeper</button>
     </div>
     </div>

    </div>

    <div class="home-img mt-5">
        <img src="./../../../assets/photos/home-img.png" alt="">
    </div>
</div>
