.hovershadow {
    box-shadow: 5px 10px 10px #dda1ff;

}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(10px);
    }
}

.animate-moveUpDown {
    animation: moveUpDown 2s ease-in-out infinite;
}