<div class=" grid grid-cols-2">
    <div class="upper-card flex justify-between items-center ">
        <div>
            <span class="text-[#b433ff] font-semibold text-2xl">Welcome to</span><br>
            <h1 class="text-7xl text-balance pb-3 pt-0 pl-0 font-bold">Navalogy Club</h1>
            <span class="text-[#b433ff] font-semibold text-2xl">
                Empowering tomorrow, Innovating today
            </span>


            <div class="lower-desc mt-6 font-semibold text-gray-500">
                <p>
                    Unleashing Innovation in Iot,SDN,Web and Mobile <br>
                    Apps,Fog-Edge Computing, Machine Learning, <br>
                    and Blockchain for a connected world.
                </p>
            </div>

            <div class="home-btn  ">
                <button
                    class="text-white font-semibold hovershadow hover:text-[#b433ff] hover:scale-110 h-10 w-40  hover:bg-white bg-[#b433ff]  mt-5 rounded-md p-2 "><span
                        class="hover:scale-110">DiveDeeper</span>
                </button>
            </div>
        </div>

    </div>

    <div class="home-img mt-5 ">
        <img class="" src="./../../../assets/photos/tech company-amico (1).png" alt="">
    </div>
</div>