<div><!-- navbar.component.html -->
  <nav class="bg-black p-4 px-32 py-7 rounded-b-3xl">
    <div class="container mx-auto flex justify-between items-center">
      <a routerLink="/" class="text-white font-bold hover:text-[#b433ff] hover:scale-105 text-lg">{{title}}</a>
      <div class="hidden md:flex space-x-12  ">
        <a routerLink="/" class="text-white my-auto hover:text-[#b433ff] hover:scale-110">Home</a>
        <a routerLink="/about" class="text-white my-auto hover:text-[#b433ff] hover:scale-110">About</a>
        <a routerLink="/portfolio" class="text-white my-auto hover:text-[#b433ff] hover:scale-110">Portfolio</a>
        <a routerLink="/team" class="text-white my-auto hover:text-[#b433ff] hover:scale-110">Team</a>
        <a routerLink="/contact" class="text-white my-auto hover:text-[#b433ff] hover:scale-110">Contact</a>
        <button
          class="hover:text-white font-semibold text-[#b433ff] hover:scale-105 h-10 w-40  bg-white hover:bg-[#b433ff] text-center rounded-xl ">Get
          Started
        </button>
      </div>
      <div class="md:hidden">
        <button type="button" class="text-white focus:outline-none" (click)="toggleMobileMenu()">
          <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
          </svg>
        </button>
      </div>
      <div *ngIf="isMobileMenuOpen" class="md:hidden">
        <div class="md:hidden">
          <div class="flex flex-col items-center space-y-4 mt-2">
            <a routerLink="/" class="text-white">Home</a>
            <a routerLink="/about" class="text-white">About</a>
            <a routerLink="/portfolio" class="text-white">Portfolio</a>
            <a routerLink="/team" class="text-white">Team</a>
            <a routerLink="/contact" class="text-white">Contact</a>
          </div>
        </div>
      </div>

    </div>
    <div class="bg-[#b433ff] h-[2px] rounded-full mt-3 w-full">
    </div>