<div>
    <p class="my-6  text-center text-4xl font-extrabold text-[#000000] "><span
            class="border-b-2 border-[#000000] text-[#bf3fff]">
            Contact Us</span>
    </p>


</div>
<div class=" grid grid-cols-2 gap-10  items-center ">
    <div> <img src="./../../../assets/photos/Data extraction-amico.png"></div>
    <div class="hovershadow1 bg-[#fbf3ff] rounded-lg py-4">
        <!-- <p class="my-3 text-center text-4xl font-extrabold text-[#000000] "><span
                class="border-b-2 border-[#000000] text-[#bf3fff]">
                Contact Us</span>

        </p> -->
        <p class=" text-center font-extrabold text-xl text-gray-500">
            Tell us more....
        </p>
        <p class=" font-semibold text-center"><span class="text-black">Feel free to reach out to us at Navalogy Club—we
                value your feedback, inquiries, and
                suggestions.</span><br> Whether you have questions about our events, membership, or simply want to
            connect, our team is
            here to assist you. Your engagement is essential to us, and we look forward to hearing from fellow Navalogy
            enthusiasts. Drop us a line, and let's navigate the world of naval exploration together!</p>
        <div class="mx-16 grid grid-cols-5 gap-x-5 gap-y-7 py-10   ">
            <div class="col-span-2 rounded-md hovershadow">
                <label for="name" class="sr-only">Name</label>
                <input id="name" name="name" type="text" autocomplete="name" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Name">
            </div>
            <div></div>
            <div class="col-span-2 rounded-md hovershadow">
                <label for="email" class="sr-only">Email</label>
                <input id="email" name="email" type="email" autocomplete="email" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Email">
            </div>
            <div class="col-span-5 rounded-md hovershadow">
                <label for="subject" class="sr-only">Subject</label>
                <input id="subject" name="subject" type="text" autocomplete="subject" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Subject">
            </div>
            <div class="col-span-5 rounded-md hovershadow">
                <label for="message" class="sr-only">Message</label>
                <textarea id="message" name="message" rows="4" autocomplete="message" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Message"></textarea>
            </div>
        </div>
    </div>
</div>