<div>
    <p class="my-6  text-center text-4xl font-extrabold text-[#000000] "><span
            class="border-b-2 border-[#000000] text-[#bf3fff]">
            Contact Us</span>
    </p>
    <p class="font-bold text-center text-gray-500 mx-14">Connect with Navalogy Club for all your inquiries and share
        your passion
        for naval exploration. We're here to make waves in maritime discovery!</p>


</div>
<div class=" grid grid-cols-2 gap-10  items-center ">
    <div> <img src="./../../../assets/photos/Data extraction-amico.png"></div>
    <div class="hovershadow1 bg-[#fbf3ff] rounded-lg py-4">
        <!-- <p class="my-3 text-center text-4xl font-extrabold text-[#000000] "><span
                class="border-b-2 border-[#000000] text-[#bf3fff]">
                Contact Us</span>

        </p> -->
        <!-- <p class=" text-center font-extrabold text-xl text-gray-500">
            Tell us more....
        </p> -->
        <p class="mt-6  text-center text-xl  text-[#000000] "><span
                class="border-b-2 border-[#000000] font-extrabold text-[#bf3fff]">
                Get in Touch with Our Team</span>
        </p>
        <div class="mx-16 grid grid-cols-5 gap-x-5 gap-y-7 py-10   ">
            <div class="col-span-2 rounded-md hovershadow">
                <label for="name" class="sr-only">Name</label>
                <input id="name" name="name" type="text" autocomplete="name" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Name">
            </div>
            <div></div>
            <div class="col-span-2 rounded-md hovershadow">
                <label for="email" class="sr-only">Email</label>
                <input id="email" name="email" type="email" autocomplete="email" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Email">
            </div>
            <div class="col-span-5 rounded-md hovershadow">
                <label for="subject" class="sr-only">Subject</label>
                <input id="subject" name="subject" type="text" autocomplete="subject" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Subject">
            </div>
            <div class="col-span-5 rounded-md hovershadow">
                <label for="message" class="sr-only">Message</label>
                <textarea id="message" name="message" rows="4" autocomplete="message" required
                    class="block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 bg-white text-[#ae23ff] rounded-md focus:outline-none  focus:border-[#b433ff] focus:z-10 sm:text-sm"
                    placeholder="Message"></textarea>
            </div>
            <button
                class="hover:text-white col-span-5 mx-auto font-semibold text-[#b433ff] hover:scale-105 h-10 w-40  bg-[#ffffff] hover:bg-[#b433ff] text-center rounded-xl ">Submit
            </button>
        </div>
    </div>
</div>