<div>
  <div class=" text-center">
    <p class=" py-[6px] text-xl font-semibold text-[#CD85F7]">Members</p>
  </div>
  <div class=" grid xl:grid-cols-5 md:grid-cols-4 sm:grid-cols-2 grid-cols-3 place-items-center gap-11 mb-2 mt-10 ">
    <button id="Mentor1"
      class="buttoncolor h-10 w-40   bg-white hover:bg-[#CD85F7]  text-center rounded-br-lg rounded-bl-lg "
      (click)="Mentor()">
      <p class=" py-[6px] hover:text-white font-semibold  text-[#CD85F7] ">Mentor</p>
    </button>
    <button id="CurrentScholars1"
      class=" h-10 w-40  bg-white hover:bg-[#CD85F7] text-center rounded-br-lg rounded-bl-lg "
      (click)="CurrentScholars()">
      <p class=" py-[6px] hover:text-white font-semibold  text-[#CD85F7] ">Current Scholars</p>
    </button>
    <button id="Currentmembers1"
      class=" h-10 w-40  bg-white hover:bg-[#CD85F7] text-center rounded-br-lg rounded-bl-lg "
      (click)="Currentmembers()">
      <p class=" py-[6px] hover:text-white font-semibold  text-[#CD85F7] ">Current Members</p>
    </button>
    <button id="foundingmembers1"
      class=" h-10 w-40  bg-white hover:bg-[#CD85F7] text-center rounded-br-lg rounded-bl-lg "
      (click)="foundingmembers()">
      <p class=" py-[6px] hover:text-white font-semibold  text-[#CD85F7] ">Founding Members</p>
    </button>
    <button id="pastmembers1" class=" h-10 w-40  bg-white hover:bg-[#CD85F7] text-center rounded-br-lg rounded-bl-lg "
      (click)="pastmembers()">
      <p class=" py-[6px] hover:text-white font-semibold  text-[#CD85F7] ">Past Members</p>
    </button>
  </div>
  <div class="bg-[#CD85F7] h-[1px] rounded-full  w-full mb-10">
  </div>
  <div class="hidden activeclass gap-10 flex-wrap justify-center " id="Mentor">
    <div *ngFor="let member of getMentor()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="CurrentScholars">
    <div *ngFor="let member of getCurrentScholars()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="Currentmembers">
    <div *ngFor="let member of getCurrentmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="foundingmembers">
    <div *ngFor="let member of getfoundingmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
  <div class=" gap-10 flex-wrap justify-center hidden" id="pastmembers">
    <div *ngFor="let member of getpastmembers()">
      <app-team-card [member]="member"></app-team-card>
    </div>
  </div>
</div>