<div class="grid grid-cols-5 ">
    <div class="col-span-2"><img src="./../../../assets/photos/Robot arm-bro.png"></div>
    <div class="col-span-3 text-end my-auto grid grid-col-4 spce-y-10 text-2xl gap-10 font-semibold">
        <div class="text-black font-extrabold text-4xl"><span class="border-b-2  border-[#b433ff]">About Us</span> </div>
        <div >The club started way back in 2021 as a group of<br>
            two or three for a project. </div>
        <div class="text-[#c668fd]">Now, we are a team skilled in both hardware and<br>
            software in the fields of IoT, Networks, SDN, Computer<br>
            systems, and Distributed systems.</div>
        <div>We are a freelance group enjoying research and<br>
            development in a non-profit way till now.</div>
    </div>
    <div class="col-span-5  grid grid-col-4 spce-y-10 text-2xl gap-10 font-semibold">
        <p> Thanks to Meity and Tezpur University for the formation of our lab
        </p>
        <p class="text-[#c668fd]">Engaged in IoT, SDN web, mobile app development, fog-edge computing, machine learning, and
            blockchain, our club prioritizes a conducive project environment and rigorous research. <br>

            Presently, our focus is on pioneering advancements in the healthcare sector. </p>
            <p>Anticipate a game-changing impact soon!! </p>
    </div>
</div>