<!-- footer.component.html -->

<footer class="bg-black rounded-t-3xl text-white p-8 px-32">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-sm">
            <div>
                <img class="w-16" src="./../../../assets/logo.png">
                <h2 class="text-3xl font-bold mb-4">WE WOULD LOVE <br>TO HEAR FROM YOU</h2>
                <p class="text-sm text-gray-500">Feel free to reach out if you want to <br>collaborate with us, or
                    simply have a chat</p>
            </div>

            <div class="mt-8">
                <h2 class="text-base font-bold mb-4"><span class="border-b-2 border-[#b433ff]">Useful Links</span></h2>
                <ul>
                    <li><a href="#">Tezpur University</a></li>
                    <li><a href="#">Department of CSE</a></li>
                    <li><a href="#">Meity</a></li>
                </ul>
            </div>
            <div class="mt-8">
                <ul>
                    <li><a href="#" class="text-base mb-4"><span class="flex"><svg viewBox="0 0 96 96"
                                    xmlns="http://www.w3.org/2000/svg" class="w-[13px]">
                                    <path
                                        d="M69.844 43.388 33.842 13.386a6.003 6.003 0 0 0-7.688 9.223L56.624 48l-30.47 25.39a6.003 6.003 0 0 0 7.688 9.223l36.002-30.001a6.01 6.01 0 0 0 0-9.223Z"
                                        fill="#ffffff" class="fill-000000"></path>
                                </svg>
                                <p class="border-b-2 border-[#b433ff]">Home</p>
                            </span></a></li>
                    <li><a href="#" class="text-gray-500 mb-4"><span class="">About</span></a></li>
                    <li><a href="#" class="text-gray-500 mb-4"><span class="">Portfolio</span></a></li>
                    <li><a href="#" class="text-gray-500 mb-4"><span class="">Team</span></a></li>
                    <li><a href="#" class="text-gray-500 mb-4"><span class="">Contact</span></a></li>
                </ul>
            </div>
            <div class="mt-8">
                <h2 class="text-base font-bold mb-4"><span class="border-b-2 border-[#b433ff]">OUR ADDRESS</span></h2>
                <p>Tezpur University</p>
                <p>Napaam, Tezpur, 784028</p>
                <p>Assam, India</p>
                <p>Email: team.navalogy</p>
            </div>
        </div>
        <div class="mt-10">
            <p class="">© Copyright Navalogy Club. All Rights Reserved</p>
        </div>
        <div class="bg-[#b433ff] h-[2px] rounded-full mt-3 w-full">
        </div>
    </div>
</footer>