<!-- footer.component.html -->

<footer class="bg-gray-800 text-white p-8 px-32 pt-32">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-sm">
            <div >
                <h2 class="text-lg font-bold mb-4">NAVALOGY CLUB</h2>
                <p>Tezpur University</p>
                <p>Napaam, Tezpur, 784028</p>
                <p>Assam, India</p>
                <p>Email: team.navalogy.com</p>
            </div>
            <div>
                <h2 class="text-base font-bold mb-4">Useful Links</h2>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Cyber Weekend</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>
            <div>
                <h2 class="text-base font-bold mb-4">Useful Links</h2>
                <ul>
                    <li><a href="#">Tezpur University</a></li>
                    <li><a href="#">Department of CSE</a></li>
                    <li><a href="#">Meity</a></li>
                </ul>
            </div>
            <!-- Additional columns as needed -->
        </div>
        <div class="mt-10">
            <p>© Copyright Navalogy Club. All Rights Reserved</p>
        </div>
    </div>
</footer>