<!-- footer.component.html -->

<footer class="bg-black rounded-t-3xl text-white p-8 px-32">
    <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-8 text-sm">
            <div>
                <img class="w-16" src="./../../../assets/logo.png">
                <h2 class="text-3xl font-bold mb-4">WE WOULD LOVE <br>TO HEAR FROM YOU</h2>
                <p class="text-sm text-gray-500">Feel free to reach out if you want to <br>collaborate with us, or
                    simply have a chat</p>
            </div>

            <div class="mt-8">
                <h2 class="text-base font-bold mb-4"><span class="border-b-2 border-[#b433ff]">Useful Links</span></h2>
                <ul class="grid grid-rows-1 gap-4 text-gray-500">
                    <li><span class="text-white">> </span><a href="https://www.tezu.ernet.in/"
                            class="hover:border-b-2 hover:border-[#b433ff]">Tezpur University</a></li>
                    <li><span class="text-white">> </span><a href="https://www.tezu.ernet.in/dcompsc/"
                            class="hover:border-b-2 hover:border-[#b433ff]">Department of CSE</a></li>
                    <li><span class="text-white">> </span><a href="https://www.meity.gov.in/"
                            class="hover:border-b-2 hover:border-[#b433ff]">Meity</a></li>
                </ul>
            </div>
            <div class="mt-8">
                <h2 class="text-base font-bold mb-4"><span class="border-b-2 border-[#b433ff]">Useful Links</span></h2>

                <ul class="grid grid-rows-1 gap-1">
                    <li><span class="text-white">> </span><a
                            class="text-gray-500 mb-4 hover:border-b-2 hover:border-[#b433ff]"><span class=""
                                (click)="homepage()">Home</span></a></li>
                    <li><span class="text-white">> </span><a
                            class="text-gray-500 mb-4 hover:border-b-2 hover:border-[#b433ff]"><span class=""
                                (click)="aboutpage()">About</span></a></li>
                    <li><span class="text-white">> </span><a
                            class="text-gray-500 mb-4 hover:border-b-2 hover:border-[#b433ff]"><span class=""
                                (click)="publicationspage()">Publications</span></a></li>
                    <li><span class="text-white">> </span><a
                            class="text-gray-500 mb-4 hover:border-b-2 hover:border-[#b433ff]"><span class=""
                                (click)="portfoliopage()">Portfolio</span></a></li>
                    <li><span class="text-white">> </span><a
                            class="text-gray-500 mb-4 hover:border-b-2 hover:border-[#b433ff]"><span class=""
                                (click)="teampage()">Team</span></a></li>
                    <li><span class="text-white">> </span><a
                            class="text-gray-500 mb-4 hover:border-b-2 hover:border-[#b433ff]"><span class=""
                                (click)="contactuspage()">Contact</span></a></li>
                </ul>
            </div>
            <div class="mt-8">
                <h2 class="text-base font-bold mb-4"><span class="border-b-2 border-[#b433ff]">OUR ADDRESS</span></h2>
                <p>Tezpur University</p>
                <p>Napaam, Tezpur, 784028</p>
                <p>Assam, India</p>
                <p>Email: team.navalogy(at)gmail.com</p>
            </div>
        </div>
        <div class="mt-10">
            <p class="">© Copyright <span class="font-semibold ">Navalogy Club</span>. All Rights Reserved</p>
        </div>
        <div class="bg-[#b433ff] h-[2px] rounded-full mt-3 w-full">
        </div>
    </div>
</footer>