<div class="bg-gradient-to-t from-[#ecd4fa] to-[#f6e9fd] fontclass ">
  <app-nav-bar></app-nav-bar>
  <div class="px-32 "><app-home></app-home></div>
  <div class="px-32 py-10"><app-aboutus></app-aboutus></div>
  <div class="px-32 py-10"> <app-publications></app-publications></div>
  <div class="px-32 py-10"> <app-portfolio></app-portfolio></div>
  <div class="px-32 py-10"><app-team></app-team></div>
  <div class="px-32 py-10"><app-contactus></app-contactus></div>

  <app-footer></app-footer>
</div>