<div class="flex justify-center text-4xl text-black font-bold">
    <span class="border-b-2 border-[#b433ff]">Portfolio</span>
</div>
<div class="btn mt-10 mb-3">
    <ul class="flex flex-row justify-around ">
        <li><button id="all1"
                class=" buttoncolor text-[#b433ff] hover:bg-[#b433ff] hovershadow hover:text-white h-10 w-40 rounded-lg font-semibold"
                (click)="all()">All</button> </li>

        <li><button id="SDN1"
                class=" text-[#b433ff] hover:bg-[#b433ff] hovershadow hover:text-white h-10 w-40 rounded-lg font-semibold"
                (click)="SDN()">SDN</button></li>
        <li><button id="cloud1"
                class=" text-[#b433ff] hover:bg-[#b433ff] hovershadow hover:text-white h-10 w-40 rounded-lg font-semibold"
                (click)="cloud()">Cloud/Fog</button></li>
        <li><button id="hardware1"
                class=" text-[#b433ff] hover:bg-[#b433ff] hovershadow hover:text-white h-10 w-40 rounded-lg font-semibold"
                (click)="hardware()">Hardware</button></li>
    </ul>
</div>
<div class="bg-[#b433ff] h-[2px] rounded-full  w-full mb-10">
</div>

<div class=" activeclass deactiveclass gap-10 flex-wrap justify-center  " id="all">
    <div class=" grid grid-cols-3">
        <img class="h-400 w-200" src="./../../../assets/photos/AT_OVS.jpg" alt="SDN img">
        <img class="h-400 w-200" src="./../../../assets/photos/fog.png" alt="cloud images">
        <img class="h-400 w-200" src="./../../../assets/photos/full_glove.png" alt="hardware images">


    </div>
</div>

<div class="hidden   gap-10 flex-wrap justify-center " id="SDN">
    <div>
        <img class="h-1/2  flex-auto" src="./../../../assets/photos/AT_OVS.jpg" alt="SDN img">

    </div>
</div>

<div class="hidden  gap-10 flex-wrap justify-center " id="cloud">
    <div>
        <img src="./../../../assets/photos/fog.png" alt="cloud/fog img">

    </div>

</div>

<div class="hidden  gap-10 flex-wrap justify-center " id="hardware">
    <div>
        <img src="./../../../assets/photos/full_glove.png" alt="hardware img">
    </div>

</div>