/* You can add global styles to this file, and also import other style files */
 @import url('https://fonts.googleapis.com/css2?family=Manrope&family=Merriweather:ital,wght@0,300;0,400;1,400&display=swap');
 @tailwind base;
@tailwind components;
@tailwind utilities;

html {

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
