<div>
    <div class="text-4xl font-extrabold"><span class="text-black border-b-2 border-[#b433ff]">Publications</span>
    </div>
    <div class="mb-8  text-gray-500">Navalogy Club showcases recent publications, featuring papers and journals
        presented
        at top-tier conferences.</div>


    <div id="01" class="shadowclass px-5 py-5 my-5 bg-[#edceff] rounded-2xl text-xl font-extrabold  activeclass ">
        <div class="flex justify-between mb-3">
            <p>01 "Performances of M2M Protocols in
                Internet
                of Medical Things"
                Accepted in
                IEEE WS16 ICC'2023 Workshop -
                SIGNIS</p><button (click)="first()" id="btn1" class="ml-0 "><img class="w-5 h-5"
                    src="./../../../assets/photos/down-arrow.png"></button>
        </div>

        <div class="text-base font-normal textpera hidden ">
            <p>The Internet of Medical Things (IoMT) is a
                constantly developing idea
                that aims to connect the medical
                IoT devices used in the healthcare industry. IoMT devices use their environment to detect, collect
                and
                send
                vital information about the medical parameters of a user/patient. This data can be then used for
                health
                monitoring of patients remotely and predicting their health conditions. Now, in order to transmit
                this
                huge
                amount of data and information IoT devices need to adopt certain machine-to-machine (M2M)
                communication
                protocols. In IoMT, it is very much crucial to choose the right protocol for the communication of
                critical
                data. In this paper, we are evaluating the performances of the four most widely used M2M protocols
                such
                as -
                Message Queuing Telemetry Transport Protocol (MQTT), Advanced Message Queuing Protocol (AMQP),
                Extensible
                Messaging and Presence Protocol (XMPP), and Constrained Application Protocol (CoAP), in terms of
                packet
                size
                and Round Trip Time (RTT) which are two essential factors in terms of transmission of medical data.
                Performances of these protocols are tested in an IoMT kit developed using several medical as well as
                general
                purpose sensors. We also compare the protocols based on their security and QoS features for their
                suitability to IoMT. Based on the experimental results and feature comparisons, MQTT proves to be
                the
                most
                suitable M2M protocol for IoMT.

            </p>
        </div>
    </div>

    <div id="02" class="shadowclass px-5 py-5 my-5 rounded-2xl text-xl font-extrabold bg-[#edceff]">
        <div class="flex justify-between mb-3">02 "iRASA: Fog Scheduling
            With
            Congregation of MVO and PSO" in IEEE
            I3CS-2023<button (click)="second()" id="btn2" class="ml-0 "><img class="w-5 h-5"
                    src="./../../../assets/photos/down-arrow.png"></button>
        </div>
        <div class=" textpera text-base font-normal hidden   ">
            <p class="font-bold">Awarded 2nd Prize Under Best
                Paper Category in I3CS-2023<br></p>
            <p>Internet of Things (IoT) can be most accurately
                conceptualized
                as a
                network
                connecting billions of individual
                transmission entities all ready to either share or receive data in any and all plausible situations.
                Among
                the prevalent imple- mentations in the networking genre of IoT include cloud, fog, and edge computing
                models. Although each pair has their own lights and shadows, given the contemporary scenario, fog
                computing
                models seem to gain the most relevance among others. The pivot of the work presented in this paper is
                the
                optimization of fog task scheduling through an improved Resource Utilisation Algorithm (iRASA), which
                uses
                the congregation of Multiverse Optimisation (MVO) and Particle Swarm Optimisation (PSO), in achieving
                the
                aforementioned objective. The suggested algorithm has been contrasted with individual performances of
                PSO
                and MVO in task scheduling along with that of a generic scheduler in cases of fixed as well as variable
                numbers of VMs. The results obtained show that the suggested approach surpasses its counterparts in
                minimizing makespan and simultaneously enhancing throughput as well as resource utilization.

            </p>
        </div>
    </div>
    <div id="03" class="shadowclass px-5 py-5 my-5 rounded-2xl text-xl font-extrabold bg-[#edceff]">
        <div class="flex justify-between mb-3">03 "Resource Aware Fog Based
            Remote
            Health Monitoring System" in IEEE
            Conference
            on Computer Communications
            Workshops,<br>INFOCOM Wksps, 2022
            <button (click)="third()" id="btn3" class="ml-0 "><img class="w-5 h-5"
                    src="./../../../assets/photos/down-arrow.png"></button>
        </div>
        <div class="text-base font-normal textpera hidden  ">
            <p>In today’s world of medical science,
                remote
                patient monitoring devices are
                becoming more important and a future need particularly in the present COVID-19 situation as individuals
                are
                preferred to be kept isolated. Patients would be benefited from a suitable monitoring system that
                measures
                their important medical parameters such as pulse rate, oxygen saturation or SpO2, body temperature,
                blood
                pressure, and Galvanized Skin Response (GSR). This system can increase the medical staff efficiency by
                drastically decreasing their duties in hospitals and the need to attend to them individually. Patients
                in
                their home isolation may utilize the device as well, and their vital indicators may be checked by
                doctors
                remotely. In this work, we are prototyping a powerefficient, wearable medical kit and a resource-aware
                fog
                network set up to handle the Internet of Things (IoT) data traffic. The idea behind the design is to
                process
                the critical medical sensors’ data in the fog nodes which are deployed at the edge of the network. The
                data
                thus received, is used for a machine learning-based solution for personal health anomalies and COVID-19
                infection risk analysis.

            </p>
        </div>
    </div>
    <div id="04" class="shadowclass px-5 py-5 my-5 rounded-2xl text-xl font-extrabold bg-[#edceff]">
        <div class="flex justify-between mb-3">
            <p>04 "OpenHealthQ: OpenFlow based
                QoS
                management of Healthcare Data in a
                Software-Defined Fog environment" in
                Proceedings of the<br> IEEE International Conference on Communications (IEEE ICC 2021), 14-23 June 2021,
                Montreal,
                Canada/Virtual</p>
            <button (click)="forth()" id="btn4" class="ml-0 "><img class="w-5 h-5"
                    src="./../../../assets/photos/down-arrow.png"></button>
        </div>
        <div class="textpera text-base font-normal hidden  ">
            <p>With the incorporation of Internet of Things (IoT)
                in
                healthcare
                systems immense new
                possibilities have emerged in the modern healthcare services. In recent times where people around the
                globe
                are suffering from the Covid-19 pandemic, providing remote healthcare services maintaining necessary
                social
                distancing through e-Healthcare has become an urgent priority. e-Healthcare services like patient's
                real-time health monitoring, exchange of electronic health reports, tele-consultation, remote surgery
                etc.
                require reliable and timely delivery of data and responses. To provide for such critical requirements it
                is
                essential to prioritize the forwarding of different types of data varies based on their throughput
                requirements and the delay sensitivities. In this paper, we study the network Quality of Service (QoS)
                control mechanism for e-Health services using the Software-Defined Networking (SDN) approach in a Fog
                based
                Healthcare Environment. We distinguish the data generated from various types of devices into priority
                classes looking at their priorities, throughput and privacy requirements in the application. Hence, we
                propose, OpenHealthQ, an OpenFlow based traffic shaping model using OpenFlow Queues to handle the
                healthcare
                data. OpenHealthQ provides a secure, on-demand and low-cost access to Healthcare 4.0's most demanding
                computing infrastructure in a distributed cloud architecture with SDN based fog nodes at the network's
                edge.
                Experimental studies show that OpenHealthQ is capable of reducing response time of the end host and
                significant increase in network throughput compared to the Best-Effort (BE) approach.

            </p>
        </div>
    </div>
</div>