.activeclass .textpera {
    display: block;

}

button img {

    transition: all 0.4s ease-in;
}

.activeclass button img {
    transform: rotate(180deg);

}

.textpera {
    /* transition: opacity 0.4s ease-out;
    opacity: 0;
    height: 0; */
}

.shadowclass {
    box-shadow: 5px 10px 10px #d081fe;
}
